<div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Movie Info
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-share fa-fw"></i> Request Form</h3>
                </div>
                <div class="panel-body">
                    <form novalidate class="simple-form">
                        <table class="table table-condensed table-responsive">
                            <tbody>
                            <tr>
                                <td colspan="2"><label><i class="fa fa-percent fa-fw" aria-hidden="true"></i>, percent
                                    means
                                    any symbols, _, underscore any symbol</label></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Movielens ID:</label>
                                </td>
                                <td>
                                    <input type="text" ng-model="vm.request.ml_id"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>IMDB ID:</label>
                                </td>
                                <td>
                                    <input type="text" ng-model="vm.request.imdb_id"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>TMDB ID:</label>
                                </td>
                                <td>
                                    <input type="text" ng-model="vm.request.tmdb_id"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Title</label>
                                </td>
                                <td>
                                    <input type="text" ng-model="vm.request.title"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Genres (Comma separated)</label>
                                </td>
                                <td>
                                    <textarea cols="22" style="resize:vertical;"
                                              ng-model="vm.request.genres"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Year:</label>
                                </td>
                                <td>
                                    <input type="text" ng-model="vm.request.year"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Order by Rating?</label>
                                </td>
                                <td>
                                    <select ng-model="vm.request.orderRating">
                                        <option ng-repeat="opt in vm.options">{{ opt }}</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Order by Watches?</label>
                                </td>
                                <td>
                                    <select ng-model="vm.request.orderWatches">
                                        <option ng-repeat="opt in vm.options">{{ opt }}</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Limit (-1 unlimited)</label>
                                </td>
                                <td>
                                    <input type="text" ng-model="vm.request.limit"/>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <input type="submit" ng-click="vm.get_movies(vm.request)" value="Get Info"
                                           class="btn btn-primary btn-block"/>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-reply fa-fw"></i> Response Form</h3>
                </div>
                <div class="panel-body">
                    <textarea cols="120" ng-model="vm.raw_response"></textarea>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->


    <div ng-show="vm.isSuccessfull">
        <div class="row">
            <div class="col-md-10">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Data Users </h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                <tr>
                                    <th>
                                        <a href="#"
                                           ng-click="vm.sortType = 'movie_id'; vm.sortReverse = !vm.sortReverse">
                                            Movie ID
                                            <span ng-show="vm.sortType == 'movie_id' && !vm.sortReverse"
                                                  class="fa fa-caret-down"></span>
                                            <span ng-show="vm.sortType == 'movie_id' && vm.sortReverse"
                                                  class="fa fa-caret-up"></span>
                                        </a>
                                    </th>
                                    <th>
                                        <a href="#"
                                           ng-click="vm.sortType = 'title'; vm.sortReverse = !vm.sortReverse">
                                            Title
                                            <span ng-show="vm.sortType == 'title' && !vm.sortReverse"
                                                  class="fa fa-caret-down"></span>
                                            <span ng-show="vm.sortType == 'title' && vm.sortReverse"
                                                  class="fa fa-caret-up"></span>
                                        </a>
                                    </th>
                                    <th>
                                        <a href="#" ng-click="vm.sortType = 'genre'; vm.sortReverse = !vm.sortReverse">
                                            Genres
                                            <span ng-show="vm.sortType == 'genre' && !vm.sortReverse"
                                                  class="fa fa-caret-down"></span>
                                            <span ng-show="vm.sortType == 'genre' && vm.sortReverse"
                                                  class="fa fa-caret-up"></span>
                                        </a>
                                    </th>
                                    <th>
                                        <a href="#" ng-click="vm.sortType = 'year'; vm.sortReverse = !vm.sortReverse">
                                            Year
                                            <span ng-show="vm.sortType == 'year' && !vm.sortReverse"
                                                  class="fa fa-caret-down"></span>
                                            <span ng-show="vm.sortType == 'year' && vm.sortReverse"
                                                  class="fa fa-caret-up"></span>
                                        </a>
                                    </th>
                                    <th>
                                        <a href="#"
                                           ng-click="vm.sortType = 'imdb_id'; vm.sortReverse = !vm.sortReverse">
                                            IMDB ID
                                            <span ng-show="vm.sortType == 'imdb_id' && !vm.sortReverse"
                                                  class="fa fa-caret-down"></span>
                                            <span ng-show="vm.sortType == 'imdb_id' && vm.sortReverse"
                                                  class="fa fa-caret-up"></span>
                                        </a>
                                    </th>
                                    <th>
                                        <a href="#"
                                           ng-click="vm.sortType = 'tmdb_id'; vm.sortReverse = !vm.sortReverse">
                                            TMDB ID
                                            <span ng-show="vm.sortType == 'tmdb_id' && !vm.sortReverse"
                                                  class="fa fa-caret-down"></span>
                                            <span ng-show="vm.sortType == 'tmdb_id' && vm.sortReverse"
                                                  class="fa fa-caret-up"></span>
                                        </a>
                                    </th>
                                    <th>
                                        <a href="#" ng-click="vm.sortType = 'rating'; vm.sortReverse = !vm.sortReverse">
                                            Rating
                                            <span ng-show="vm.sortType == 'rating' && !vm.sortReverse"
                                                  class="fa fa-caret-down"></span>
                                            <span ng-show="vm.sortType == 'rating' && vm.sortReverse"
                                                  class="fa fa-caret-up"></span>
                                        </a>
                                    </th>
                                    <th>
                                        <a href="#"
                                           ng-click="vm.sortType = 'num_watches'; vm.sortReverse = !vm.sortReverse">
                                            Times Watched
                                            <span ng-show="vm.sortType == 'num_watches' && !vm.sortReverse"
                                                  class="fa fa-caret-down"></span>
                                            <span ng-show="vm.sortType == 'num_watches' && vm.sortReverse"
                                                  class="fa fa-caret-up"></span>
                                        </a>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="value in vm.movie_data | orderBy:vm.sortType:vm.sortReverse">
                                    <td>{{ value.movie_id }}</td>
                                    <td>{{ value.title }}</td>
                                    <td>{{ value.genre }}</td>
                                    <td>{{ value.year }}</td>
                                    <td><a href='http://www.imdb.com/title/tt{{ value.imdb_id }}'
                                           target='_blank'> {{ value.imdb_id }}</a></td>
                                    <td><a href='http://www.themoviedb.org/movie/{{ value.tmdb_id }}'
                                           target='_blank'> {{ value.tmdb_id }}</a></td>
                                    <td>{{ value.rating }}</td>
                                    <td>{{ value.num_watches }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>