<div style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; background-color: rgba(50,50,50,0.8);">

</div>

<div style="
        position: absolute;
        top: 30%;  /* position the top  edge of the element at the middle of the parent */
        left: 50%; /* position the left edge of the element at the middle of the parent */
        transform: translate(-50%, -50%);
        color: #ff0000"
>
    <table class="table table-condensed table-responsive">
        <tbody>
        <tr>
            <td>
                <i class="fa fa-cog fa-spin fa-5x"></i>
            </td>
            <td>
                <h1> Loading ... </h1>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="progress"
     style="position: absolute; width: 100%;  height:10px; top: 0; left: 0; z-index: 100000;">
    <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="80"
         aria-valuemin="0" aria-valuemax="100" style="width: 100%; height:10px">
    </div>
</div>
