<div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Dashboard
                <small>Spark Status Overview</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->


    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-cog fa-fw"></i> Spark Status: {{ vm.spark_status }}
                    </h3>
                </div>
                <div class="panel-body">
                    <form novalidate class="simple-form">
                        <table class="table table-condensed table-responsive">
                            <tbody>
                            <tr>
                                <td>
                                    <label>env var: MY_SPARK_MASTER takes precedence</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Master Spark URL: <input type="text" ng-model="vm.master_url"/></label></td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="submit" ng-click="vm.initialize_spark(vm.master_url)"
                                           value="Initialize Spark"
                                           class="btn btn-success btn-block"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="button" ng-click="vm.terminate_spark()" value="Terminate Spark"
                                           class="btn btn-danger btn-block"/>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa  fa-database fa-bar-chart-o fa-fw"></i> Spark Data
                        Status: {{ vm.spark_data_status }}
                    </h3>
                </div>
                <div class="panel-body">
                    <form novalidate class="simple-form">
                        <table class="table table-condensed table-responsive">
                            <tbody>
                            <tr>
                                <td>
                                    <label>Data will be loaded from $SPARK_HOME/userdata/ml-latest</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Data has to be preprocessed to have the header line removed!!</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="submit" ng-click="vm.load_spark_data()" value="Load Data to Spark"
                                           class="btn btn-primary btn-block"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="button" ng-click="vm.test_data_loaded()"
                                           value="Test Data loaded to Spark"
                                           class="btn btn-info btn-block"/>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>

        <div ng-show="vm.isSuccessfull" class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-reply fa-fw"></i> Response Form</h3>
                </div>
                <div class="panel-body">
                    <textarea cols="50" ng-model="vm.raw_response"></textarea>
                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->

    <div ng-show="vm.isSuccessfull" ng-repeat="(k, v) in vm.table_controller">

        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-table fa-fw"></i> Data for {{ k }} table </h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                            <tr>
                                <th ng-repeat="(kh, vh) in vm.to_object(vm.response_data[k][0])">
                                    <a href="#"
                                       ng-click="v.st = kh; v.sr = !v.sr">
                                        {{ kh }}
                                        <span ng-show="v.st == kh && !v.sr"
                                              class="fa fa-caret-down"></span>
                                        <span ng-show="v.st == kh && v.sr"
                                              class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="row in vm.response_data[k] | orderBy:v.st:v.sr">
                                <td ng-repeat="(colk, colv) in vm.to_object(row)">
                                    {{ colv }}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /panel-body -->
                </div>
                <!-- /panel -->
            </div>
            <!-- /col -->
        </div>
        <!-- /row -->
    </div>
    <!-- /successful container -->
</div>