<div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                User(s) Favourite Genre
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-share fa-fw"></i> Request Form</h3>
                </div>
                <div class="panel-body">
                    <form novalidate class="simple-form">
                        <table class="table table-condensed table-responsive">
                            <tbody>
                            <tr>
                                <td>
                                    <label>Movielens User ID(s): (Comma separated)</label>
                                </td>
                                <td>
                                    <textarea type="text" ng-model="vm.user_id"/>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <input type="submit" ng-click="vm.get_user(vm.user_id, vm.limit)" value="Get Info"
                                           class="btn btn-block btn-primary"/>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-reply fa-fw"></i> Response Form</h3>
                </div>
                <div class="panel-body">
                    <textarea cols="120" ng-model="vm.raw_response"></textarea>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <div ng-show="vm.isSuccessfull">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-table fa-fw"></i> Data </h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                <tr>
                                    <th>
                                        <a href="#"
                                           ng-click="vm.sortType = 'rating'; vm.sortReverse = !vm.sortReverse">
                                            Rating
                                            <span ng-show="vm.sortType == 'rating' && !vm.sortReverse"
                                                  class="fa fa-caret-down"></span>
                                            <span ng-show="vm.sortType == 'rating' && vm.sortReverse"
                                                  class="fa fa-caret-up"></span>
                                        </a>
                                    </th>
                                    <th>
                                        <a href="#" ng-click="vm.sortType = 'genre'; vm.sortReverse = !vm.sortReverse">
                                            Genre
                                            <span ng-show="vm.sortType == 'genre' && !vm.sortReverse"
                                                  class="fa fa-caret-down"></span>
                                            <span ng-show="vm.sortType == 'genre' && vm.sortReverse"
                                                  class="fa fa-caret-up"></span>
                                        </a>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="value in vm.user_data | orderBy:vm.sortType:vm.sortReverse">
                                    <td>{{ value.rating }}</td>
                                    <td>{{ value.genre }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>