<div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                User(s) Favourite Genre
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-share fa-fw"></i> Request Form</h3>
                </div>
                <div class="panel-body">
                    <form novalidate class="simple-form">
                        <table class="table table-condensed table-responsive">
                            <tbody>
                            <tr>
                                <td>
                                    <label>Movielens User 1 ID:</label>
                                </td>
                                <td>
                                    <input type="text" ng-model="vm.user_id1"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Movielens User 2 ID:</label>
                                </td>
                                <td>
                                    <input type="text" ng-model="vm.user_id2"/>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <input type="submit" ng-click="vm.get_user(vm.user_id1, vm.user_id2)"
                                           value="Get Info"
                                           class="btn btn-block btn-primary"/>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-reply fa-fw"></i> Response Form</h3>
                </div>
                <div class="panel-body">
                    <textarea cols="120" ng-model="vm.raw_response"></textarea>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <div ng-show="vm.isSuccessfull">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-table fa-fw"></i> User 1 Preferences </h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                <tr>
                                    <th>
                                        <a href="#"
                                           ng-click="vm.sortType1 = 'rating'; vm.sortReverse1 = !vm.sortReverse1">
                                            Rating
                                            <span ng-show="vm.sortType1 == 'rating' && !vm.sortReverse1"
                                                  class="fa fa-caret-down"></span>
                                            <span ng-show="vm.sortType1 == 'rating' && vm.sortReverse1"
                                                  class="fa fa-caret-up"></span>
                                        </a>
                                    </th>
                                    <th>
                                        <a href="#"
                                           ng-click="vm.sortType1 = 'genre'; vm.sortReverse1 = !vm.sortReverse1">
                                            Genre
                                            <span ng-show="vm.sortType1 == 'genre' && !vm.sortReverse1"
                                                  class="fa fa-caret-down"></span>
                                            <span ng-show="vm.sortType1 == 'genre' && vm.sortReverse1"
                                                  class="fa fa-caret-up"></span>
                                        </a>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="value in vm.user_data1 | orderBy:vm.sortType1:vm.sortReverse1">
                                    <td>{{ value.rating }}</td>
                                    <td>{{ value.genre }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-table fa-fw"></i> User 2 Preferences </h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                <tr>
                                    <th>
                                        <a href="#"
                                           ng-click="vm.sortType2 = 'rating'; vm.sortReverse2 = !vm.sortReverse2">
                                            Rating
                                            <span ng-show="vm.sortType2 == 'rating' && !vm.sortReverse2"
                                                  class="fa fa-caret-down"></span>
                                            <span ng-show="vm.sortType2 == 'rating' && vm.sortReverse2"
                                                  class="fa fa-caret-up"></span>
                                        </a>
                                    </th>
                                    <th>
                                        <a href="#"
                                           ng-click="vm.sortType2 = 'genre'; vm.sortReverse2 = !vm.sortReverse2">
                                            Genre
                                            <span ng-show="vm.sortType2 == 'genre' && !vm.sortReverse2"
                                                  class="fa fa-caret-down"></span>
                                            <span ng-show="vm.sortType2 == 'genre' && vm.sortReverse2"
                                                  class="fa fa-caret-up"></span>
                                        </a>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="value in vm.user_data2 | orderBy:vm.sortType2:vm.sortReverse2">
                                    <td>{{ value.rating }}</td>
                                    <td>{{ value.genre }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.successful -->
</div>